    * {
            margin: 0 auto;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
        }
        #menu-h{
            background-color: rgb(37, 37, 39);
            
        }
        #menu-h ul {
            max-width: 1500px;
            
            list-style: none;
            padding: 0;
        }
        #menu-h ul li {
            display: inline;
        }
    
        #menu-h ul li a {
            color: #FFF;
            padding: 30px;
            display: inline-block;
            text-decoration: none;
            transition: background .4s;
        }
    
        #menu-h ul li a:hover {
            background-color: rgb(24, 139, 233);
        }
    
        #menu-h ul li:last-child a {
            float: right;
            background-color: rgb(88, 88, 88);
        }
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
		body{
			font-family:Quicksand, sans-serif;
			font-size: 100%;
			background:white;
			color:black;
			
		}